<%- include('../layouts/coordinator/header')%>

    <!-- General JS Scripts -->
    <script src="/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="/assets/bundles/chartjs/chart.min.js"></script>
    <script src="/assets/bundles/jquery.sparkline.min.js"></script>
    <script src="/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/bundles/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="/assets/bundles/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/assets/bundles/jqvmap/dist/maps/jquery.vmap.indonesia.js"></script>
    <!-- Page Specific JS File -->
    <script src="/assets/js/page/widget-chart.js"></script>
    <!-- Template JS File -->
    <script src="/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="/assets/js/custom.js"></script>
  </body>
  
  
  <!-- widget-chart.html  21 Nov 2019 03:50:03 GMT -->
  </html>